
*, *:before, *:after {
  box-sizing: border-box;
  margin: 0px;
}

img {
  object-fit: cover;
  width: 300;
  height: 400;
  margin: 40px auto 0px auto;
  border: 2px dotted black;
}

.app{
    width: 70%;
    margin: 100px auto 0px auto;
    min-height: calc( 100vh - 100px );
    padding-bottom: 100px;
}

.title{
    font-family: 'Press Start 2P', cursive;
    font-size: 1rem;
}

.sm-font-size{
    font-size: 0.8rem
}

.mt-5{
    margin-top: 50px;
}

.image-block{
    text-align: center;
}

